* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #09d174;;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  
  #about-me {
    background-color: #f9f9f9;
    padding: 40px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .about-me {
    display: flex;
    align-items: center;
  }
  
  .about-me-img {
    flex: 1;
  }
  
  .about-me-img img {
    max-width: 100%;
    border-radius: 50%;
  }
  
  .about-me-text {
    flex: 3;
    padding-left: 40px;
  }
  
  
  #skills {
    background-color: #fff;
    padding: 40px 0;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin: 10px;
  }
  
  
  #projects {
    background-color: #f9f9f9;
    padding: 40px 0;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
  }
  
  .project img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  
  #contact {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  #contact form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  textarea,
  button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ccc;
  }
  
