body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .product-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
  }
  
  .product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    height: auto; 
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto; 
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: red ;
    margin: 0;
  }
  
